<div class="container">
  <%= form_with model: @movie, :html=> { multipart: true } do |form| %>
    <%= render 'layouts/error_messages', object: form.object %>

    <div class="field form-group">
      <%= form.label :avatar %>
      <%= form.file_field :avatar,class: 'form-control-file' %>
    </div>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :gender %>
      <%= form.text_field :gender, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :synopsis %>
      <%= form.text_area :synopsis, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :img %>
      <%= form.text_field :img, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= form.label :director %>
      <%= form.text_field :director, class: 'form-control' %>
    </div>

    <div class="btn btn-outline-dark">
      <%= form.submit "New movie", class: 'btn btn-sucess' %>
    </div>
  <% end %>
</div>