  <body>
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" <%= link_to "Home", controller: 'welcome', action: 'index'%></a>

      <a href="/login/index">
        <form class="form-inline">
          <button type="button" class="btn btn-outline-success my-2 my-sm-0"> 
            Login
          </button>
        </form>
      </a>
    </nav>
    <br>
    <br>
    <h2>&emsp;Em exibição</h2>
    <div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <!-- Iniciliza o Carousel (active) -->
        <div class="carousel-item col-md-20 active">
          <% if @movies.length < 4 %>
            <% for index in 0 ... @movies.length %>
              &emsp;&emsp;
              <%= link_to (image_tag @movies[index].avatar.url(:medium)), @movies[index] %>
            <% end %>
          <% else %>
            <% for index in 0 ... 4 %>
              &emsp;&emsp;
              <%= link_to (image_tag @movies[index].avatar.url(:medium)), @movies[index] %>
            <% end %>
          <% end %>
        </div>
        <!-- Se houver mais filmes, mostra de 4 em 4 no Carousel -->
        <% if @movies.length > 4 %>
          <div class="carousel-item col-md-20">
            <% i = 4 %>
            <% while i < @movies.length %>
              <% if i + 4 <= @movies.length %>
                <% for index in i ... i + 4 %>
                  &emsp;&emsp;
                  <%= link_to (image_tag @movies[index].avatar.url(:medium)), @movies[index] %>
                <% end %>
              <% elsif i + 4 > @movies.length %>
                <% for index in i ... @movies.length %>
                  &emsp;&emsp;
                  <%= link_to (image_tag @movies[index].avatar.url(:medium)), @movies[index] %>
                <% end %>
              <% end %>
              <% i += 4 %>
            <% end %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </body>