<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @movie.avatar.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @movie.gender %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Img:</strong>
  <%= @movie.img %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<a href="/salas"> <!-- Redirecionar para pagina de pagamento posteriormente -->
  <button type="button" class="btn btn-outline-success my-2 my-sm-0">
    Comprar Ingresso
  </button>
</a>
<br>
<% if manager_signed_in? || collaborator_signed_in? %>
  <button type="button" class="btn btn-outline-dark btn-sm">
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %>
  </button>
<% end %>