<h1>New Cinema</h1>

<%= form_for @cinema do |f| %>
  Nome: <%= f.text_field :name %><br/>
  Cidade: <%= f.text_field :city %><br/>
  Tipo de estabelecimento: <%= f.text_field :type_of_establishment %><br/>
  <%= f.submit %>
<% end %>


<%= link_to 'Back', cinemas_path %>
